{% extends "base.html" %} {% block title %}Home Page{% endblock %} {%block
content %}
<div id="card">
  <div class="container-fluid card body">
    <div>
      <h1 class="display-4 text-center">Welcome to Smile</h1>
      <br />
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-secondary">
          Book now
        </button>
      </div>
      <br />
      <p class="text-muted text-center">
        <i
          >“Photography is a way of feeling, of touching, of loving. What you
          have caught on film is captured forever… It remembers little things,
          long after you have forgotten everything.”</i
        >
      </p>
    </div>
  </div>
</div>
{% endblock %}
