{% extends "base.html" %} {% block title %}Smile - Home Page{% endblock %}
{%block content %}
<div id="hero">
  <div class="container-fluid">
    <div>
      <h1 class="display-4 text-center text-white">Here To Capture</h1>
      <br />
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-light">Book Now</button>
      </div>
      <br />
      <p class="text-light text-center">
        <i
          >“Photography is a way of feeling, of touching, of loving. What you
          have caught on film is captured forever… It remembers little things,
          long after you have forgotten everything.”</i
        >
      </p>
    </div>
  </div>
</div>
{% endblock %}
